html,
body {
  padding: 0;
  margin: 0;
  line-height: 1.2;
  font-family: Ubuntu, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  color: #FFD600;
  text-decoration: underline;
}

a:visited {
  color: #fde77a;
}

a:hover, a:visited:hover {
  color: #ffffff;
}

p {
  line-height: 1.3;
  widows: 2;
}

h1 {
  font-size: 2.5em;
  font-family: Oswald, Impact, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 0.65em;
}
