/* ============================================
    Main layout
============================================ */

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 300px;
  color: #ffffff;
  font-size: 14px;
  position: relative;
}

.page__header {
  flex: 0 0 70px;
  background: #1C1C1C;
  padding: 0 15px;
  display: flex;
}

.page__main {
  flex: 1 1 auto;
  background-color: #272727;
  background-image: url("/images/layout/bg.png");
  background-repeat: repeat;
  background-position: top center;
  background-size: 860px 1818px;
  padding: 2.5em 15px;
}

.page__footer {
  flex: 0 1 auto;
  background: #1C1C1C;
  padding: 2.5em 15px 2.5em;
}

.page__sideborders {
  max-width: 1316px;
  margin: 0 auto;
  width: auto;
}

@media screen and (min-width: 550px) {
  .page {
    font-size: 18px;
  }

  .page__header {
    flex-basis: 114px;
  }

  .page__footer {
    font-size: 16px;
  }
}

@media screen and (min-width: 750px) {
  .page__header,
  .page__main,
  .page__footer {
    padding-left: 30px;
    padding-right: 30px;
  }
}

/* ============================================
    Header layout
============================================ */

.page__header .page__sideborders {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

.logolink {
  display: flex;
  background: left url("/images/layout/logo.png") no-repeat;
  background-size: contain;
  height: 60px;
  align-self: flex-end;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}

.logolink__title {
  color: #FFD600;
  font: bold 18px 'Oswald';
  text-transform: uppercase;
  margin: 0 0 0 45%;
  line-height: 1.1;
}

.logolink__subtitle {
  color: #808080;
  margin: 0 0 0 45%;
  line-height: 1.1;
  white-space: nowrap;
}

.sandwichbutton {
  display: block;
  border: none;
  width: 52px;
  height: 70px;
  background: center url("/images/layout/sandwich.svg") no-repeat;
  cursor: pointer;
}

.sandwichbutton:hover {
  filter: brightness(0) saturate(100%) invert(87%) sepia(17%) saturate(5087%) hue-rotate(358deg) brightness(103%) contrast(105%);
}

.sandwichbutton_opened {
  background-image: url("/images/layout/cross.svg");
}

@media screen and (min-width: 375px) {
  .logolink {
    flex-grow: 0;
  }

  .logolink__title,
  .logolink__subtitle {
    margin-left: 125px;
  }
}

@media screen and (min-width: 550px) {
  .logolink {
    height: 102px;
  }

  .logolink__title {
    font-size: 28px;
    margin-left: 211px;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .logolink__subtitle {
    font-size: 16px;
    margin-left: 211px;
  }

  .sandwichbutton {
    width: 82px;
  }
}

@media screen and (min-width: 1100px) {
  .sandwichbutton {
    display: none;
  }
}

/* ============================================
    Header navigation
============================================ */

.headernav {
  display: none;
  font-size: 16px;
  flex-grow: 1;
  align-items: stretch;
  height: 114px;
  padding-left: 44px;
  max-width: 950px;
}

@media screen and (min-width: 1100px) {
  .headernav {
    display: flex;
  }
}

.headernav h2 {
  display: none;
}

.headernav section {
  flex-grow: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-top: 12px;
}

.headernav section:nth-of-type(1) {
  border-right: 1px solid #555555;
  flex: 1 1 calc((100% - 591.31px) / 10 * 3 + 233.58px);
}

.headernav section:nth-of-type(2) {
  border-right: 1px solid #555555;
  flex: 1 1 calc((100% - 591.31px) / 10 * 4 + 186.14px);
}

.headernav section:nth-of-type(3) {
  flex: 1 1 calc((100% - 591.31px) / 10 * 3 + 171.59px);
}

.headernav h3 {
  width: 100%;
  margin: 0 0 10px;
  font-size: 1em;
  font-weight: normal;
  color: #808080;
  display: list-item;
  list-style: disc;
  list-style-position: inside;
}

.headernav section:nth-of-type(2) h3 {
  padding-left: calc((100% - 186.14px) / 4);
}

.headernav section:nth-of-type(3) h3 {
  padding-left: calc((100% - 171.59px) / 3);
}

.headernav ul {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
}

.headernav section:nth-of-type(1) li {
  flex-grow: 1;
  text-align: left;
}

.headernav section:nth-of-type(3) li {
  flex-grow: 1;
  text-align: right;
}

.headernav li {
  list-style: none;
  white-space: nowrap;
}

.headernav a.active {
  font-weight: bold;
}

.headernav a:hover {
  color: #FFD600;
}

/* ============================================
    Sandwich navigation
============================================ */

.sandwichpopup {
  display: none;
  z-index: 30;
  background-color: #1C1C1C;
  background-image: url("/images/layout/bg.png");
  background-repeat: repeat;
  background-position: top center;
  background-size: 860px 1818px;
}

.sandwichpopup_opened {
  display: block;
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  bottom: 0;
}

@media screen and (min-width: 550px) {
  .sandwichpopup_opened {
    top: 114px;
  }
}

@media screen and (min-width: 1100px) {
  .sandwichpopup_opened {
    display: none;
  }
}

.sandwichpopup h2 {
  display: none;
  color: #808080;
}

.sandwichpopup section {
  border-bottom: 1px solid #808080;
  text-align: center;
  padding: 1.5em 0;
}

.sandwichpopup section:hover {
  background-color: #272727;
}

.sandwichpopup h3 {
  font-size: 1em;
  font-weight: normal;
  margin: 0.5em 0;
  color: #808080;
}

.sandwichpopup ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.sandwichpopup li {
  list-style: none;
}

.sandwichpopup a {
  display: block;
  color: #ffffff;
  padding: 0.5em;
}

.sandwichpopup a.active {
  font-weight: bold;
}

.sandwichpopup a:hover {
  color: #FFD600;
}

/* ============================================
    Footer
============================================ */

.page__footer .page__sideborders {
  display: grid;
  row-gap: 2em;
  grid-template-areas:
  "toplink"
  "copyright"
  "slogan"
  "links"
  "technologies"
  "legal"
  "contacts";
}

.page__footer p {
  margin: 0;
}

.footertoplink {
  grid-area: toplink;
  text-align: right;
}

.footertoplink a {
  display: inline-block;
  border: 1px solid #ffffff;
  padding: 0.5em 2em;
}

.footertoplink a:hover {
  color: #FFD600;
  border-color: #FFD600;
}

.footercopyright {
  grid-area: copyright;
  text-align: center;
}

.footercopyright p {
  color: #808080;
}

.footerslogan {
  grid-area: slogan;
  text-align: center;
  color: #808080;
}

.footerlinks {
  grid-area: links;
}

.footerlinks ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  margin: 0;
  padding: 0;
}

.footerlinks li {
  list-style: none;
  white-space: nowrap;
}

.footerlinks a:hover {
  color: #FFD600;
}

.footertechnologies {
  grid-area: technologies;
}

.footertechnologies ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footertechnologies li {
  list-style: none;
  position: relative;
  width: 4em;
  height: 4em;
  opacity: .5;
}

.footertechnologies li:nth-of-type(3) {
  height: calc(4em / 1.12);
}

.footerlegal {
  grid-area: legal;
}

.footerlegal p {
  text-align: center;
  color: #808080;
}

.footercontacts {
  grid-area: contacts;
}

.footercontacts ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.footercontacts li {
  list-style: none;
  margin-right: 14px;
}

.footercontacts a {
  display: block;
  line-height: 1;
}

.footercontacts a:hover {
  filter: brightness(0) saturate(100%) invert(87%) sepia(17%) saturate(5087%) hue-rotate(358deg) brightness(103%) contrast(105%);
}

@media screen and (min-width: 550px) {
  .footertechnologies li {
    width: 6em;
    height: 6em;
  }

  .footertechnologies li:nth-of-type(3) {
    height: calc(6em / 1.12);
  }
}

@media screen and (min-width: 1100px) {
  .page__footer .page__sideborders {
    display: grid;
    row-gap: 0;
    grid-template-columns: 30% 30% 40%;
    grid-template-areas:
    "toplink    toplink toplink"
    "copyright  links   technologies"
    "slogan     links   technologies"
    "contacts   legal   legal";
  }

  .footertoplink {
    margin-bottom: 2em;
  }

  .footercopyright {
    text-align: left;
  }

  .footerslogan {
    text-align: left;
  }

  .footerlinks {
    align-self: stretch;
  }

  .footerlinks ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    padding-left: 2em;
  }

  .footercontacts {
    align-self: end;
  }

  .footercontacts ul {
    justify-content: flex-start;
  }

  .footertechnologies ul {
    margin-left: 2em;
    justify-content: space-between;
  }

  .footerlegal p {
    text-align: right;
    margin-top: 2em;
  }
}
